*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
    
}
header{
background-image: url(logo.jpg);
height: 100vh;
background-position: center;
background-size: cover;
}
ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    padding: 5px 20px;
    color: yellow;
    border: 1px solid aqua;
    

    

}

ul li a:hover{
    background-color: red;
    color: aqua;
}
.title{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    font-size: 80px;
    color: blue;
    text-shadow: 5px 5px 5px black ;
}

.logo img{
width: 200px;
height: auto;
float: left;
margin: 20px;
}
.button{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    margin: 100px auto;
}
.btn{
    border:1px solid aqua;
    color: yellow;
    padding: 20px;
    text-decoration: none;
}
.btn:hover{
    background-color: red;
    color: blue;
}